@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --radius: 0.6rem;
  --sidebar: #1b263b;
  --sidebar-foreground: oklch(0.929 0.013 255.508);
  --sidebar-primary: #51cfff;
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: oklch(0.446 0.043 257.281);
  --sidebar-accent-foreground: oklch(0.929 0.013 255.508);
  --sidebar-border: oklch(0.929 0.013 255.508);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}
